# Visual Studio geçici dosyalarý
.vs/
.vscode/

# Build çýktýlarý
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Kullanýcý ayarlarý
*.user
*.suo

# NuGet paketleri
packages/
*.nupkg

# Log dosyalarý
*.log